@font-face {
  font-family: 'amazon'; 
  src: url('./font/amazon-font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
    margin: 0;
  }
  
  body {
    background-color: rgb(234, 237, 237);
    margin: 0;
    font-family: "amazon", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }